name: test-action
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - run: curl -L --max-time 60 -o adobe.html https://www.adobe.com/jp/legal/terms.html
      - run: npx tsx src/test/testFetchAdobe.ts
        env:
          NODE_OPTIONS: --dns-result-order=ipv4first